:root {
  --b-border-radius-0: 0rem;
  --b-border-radius-050: 0.125rem;
  --b-border-radius-100: 0.25rem;
  --b-border-radius-150: 0.375rem;
  --b-border-radius-200: 0.5rem;
  --b-border-radius-300: 0.75rem;
  --b-border-radius-400: 1rem;
  --b-border-radius-500: 1.25rem;
  --b-border-radius-750: 1.875rem;
  --b-border-radius-full: 624.9375rem;
}
