:root {
  --b-color-bg-fill-primary: #1c83e3;
  --b-color-bg-fill-primary-hover: #2063b1;
  --b-color-bg-fill-primary-active: #2063b1;
  --b-color-bg-fill-primary-disabled: #76b4ef;

  --b-color-bg-fill-secondary: #ff9f20;
  --b-color-bg-fill-secondary-hover: #c38e50;
  --b-color-bg-fill-secondary-active: #c38e50;
  --b-color-bg-fill-secondary-disabled: #ffb85c;

  --b-color-text-on-bg-fill: #fff;
  --b-color-text-on-bg-fill-hover: #e3e3e3;
  --b-color-text-on-bg-fill-active: #ccc;
  --b-color-text-on-bg-fill-disabled: #fff;

  --b-color-text: #303030;
}
