:root {
  --b-color-bg-fill-primary: #2d9aff;
  --b-color-bg-fill-primary-hover: #017aeb;
  --b-color-bg-fill-primary-active: #0059ac;
  --b-color-bg-fill-primary-disabled: #76b4ef;

  --b-color-bg-fill-secondary: #ff9a42;
  --b-color-bg-fill-secondary-hover: #ff8419;
  --b-color-bg-fill-secondary-active: #e96d01;
  --b-color-bg-fill-secondary-disabled: #ffb85c;

  --b-color-text-on-bg-fill: #fff;
  --b-color-text-on-bg-fill-hover: #fff;
  --b-color-text-on-bg-fill-active: #ccc;
  --b-color-text-on-bg-fill-disabled: #fff;

  --b-color-text: #fff;
}
