:root {
  --b-space-0: 0rem;
  --b-space-025: 0.0625rem;
  --b-space-050: 0.125rem;
  --b-space-100: 0.25rem;
  --b-space-150: 0.375rem;
  --b-space-200: 0.5rem;
  --b-space-300: 0.75rem;
  --b-space-400: 1rem;
  --b-space-500: 1.25rem;
  --b-space-600: 1.5rem;
  --b-space-800: 2rem;
  --b-space-1000: 2.5rem;
  --b-space-1200: 3rem;
  --b-space-1600: 4rem;
  --b-space-2000: 5rem;
  --b-space-2400: 6rem;
  --b-space-2800: 7rem;
  --b-space-3200: 8rem;
}
